.all-comment-part-1{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-group{
    display: flex;
    gap: 1rem;
    justify-content: right;
}

